{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskulo | {% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/svg_icon/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/gird.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>
{% include 'landing_partials/header.html' %}
{% block content %}{% endblock %}
<script src="{% static 'js/landing.js' %}"></script>
</body>