{% extends  'base/index.html' %}
{% block title %}

{% endblock %}
{% load static %}
{% block content %}
    <main class="main">

    <section class="home">

        <div class="container">

            <div class="row align-items-center">

                <div class="col-12 col-lg-6">

                    <div class="home__content">

                        <h1 class="home__title">
                            <span>Taskulo </span>helps <span>teams work </span>more <span>collaboratively </span>and
                            get more done.
                        </h1>

                        <h3 class="home__caption">
                            Taskulo is project management software that is centered on teamto deliver products on
                            time.
                        </h3>

                        <div class="home__link">
                            <a href="./index.html">Lets go</a>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="home__picture">
                        <img class="home__image" src="{% static 'images/landing-1.png' %}" alt="picture">
                    </div>
                </div>


            </div>
        </div>

    </section>

    <section class="aboutus">

        <div class="container">

            <div class="section-head">

                <h3 class="section-title">
                    About Us
                </h3>

                <div class="section-line"></div>

                <p class="section-caption">
                    We're proudly serving 12300+ business with their project management and team collaboration need
                </p>

            </div>

            <div class="about">

                <div class="about__picture">
                    <img src="{% static 'images/landing-4.png' %}" alt="about-us" class="about__image">
                </div>

                <div class="about__content">

                    <p>
                        No matter what methodology you use Scrum, Kanban, or your own unique approach Boards are built
                        to support you, so you can work your way.
                    </p>
                    <p>
                        Get full visbility over the logistics of your project and see your task progress through the
                        process in real time.
                    </p>
                    <p>
                        Spot bottlenecks before they happen and keep an eye on your team's workload, so you
                        can pre-empt any issues before they become problems.
                    </p>
                    <p>
                        No matter the amount of tasks and people, Workstreams.ai keeps things smooth and
                        functional. Dont miss a beat nor an update, regardless if you're onboarding your 10th or
                        1000th employee. Everyone can start in a jiffy.
                    </p>


                    <div class="about-content__btn">
                        <a href="./register.html">Get in free</a>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="our-feature">

        <div class="container">

            <div class="section-head">

                <h3 class="section-title">
                    Our Feature
                </h3>

                <div class="section-line"></div>

                <p class="section-caption">
                    Learn how our intuitive features will help take your team's performance to the next level.
                </p>

            </div>

            <div class="feature">

                <div class="feature__content">

                    <div class="feature__content--items">

                        <div class="feature__content--item">

                            <div class="feature__item--logo">
                                <svg class="feature__item--image" xmlns="http://www.w3.org/2000/svg" fill="white"
                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"/>
                                </svg>
                            </div>

                            <div class="feature__item--title">
                                Collaborate
                            </div>

                            <div class="feature__item--caption">
                                Messages, chat, files, notebooks every thing you need to collaborate with context and
                                efficiency.
                            </div>
                        </div>

                        <div class="feature__content--item">
                            <div class="feature__item--logo">
                                <svg class="feature__item--image" xmlns="http://www.w3.org/2000/svg" fill="white"
                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"/>
                                </svg>

                            </div>

                            <div class="feature__item--title">
                                Portfolio
                            </div>

                            <div class="feature__item--caption">
                                Get a panomeric view of where all your projects stand and easily spot roadblocks to keep
                                your work moving.
                            </div>
                        </div>

                        <div class="feature__content--item">
                            <div class="feature__item--logo">
                                <svg class="feature__item--image" xmlns="http://www.w3.org/2000/svg" fill="white"
                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605"/>
                                </svg>


                            </div>

                            <div class="feature__item--title">
                                Board View
                            </div>

                            <div class="feature__item--caption">
                                View boards to automate your stackflow and provide your team a neasy way to visualise
                                their detect task.
                            </div>
                        </div>

                        <div class="feature__content--item">
                            <div class="feature__item--logo">
                                <svg class="feature__item--image" xmlns="http://www.w3.org/2000/svg" fill="white"
                                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>

                            </div>

                            <div class="feature__item--title">
                                Time tracking
                            </div>

                            <div class="feature__item--caption">
                                Never lode track of time again with the Teamwork Timer app.Keep on top of your work with
                                a simple click.
                            </div>
                        </div>


                    </div>


                </div>


                <div class="feature__picture">
                    <img src="{% static 'images/landing-5.png' %}" alt="our-feature" class="feature__image">
                </div>

            </div>


        </div>

    </section>

    <section class="how-it-work">

        <div class="container">

            <div class="section-head">

                <h3 class="section-title">
                    How it works
                </h3>

                <div class="section-line"></div>

                <p class="section-caption">
                    How it work wit htheir project management and team
                </p>

            </div>

            <div class="how-work">

                <div class="how-work__top">

                    <div class="how-work__top--picture">
                        <img class="how-work__top--image" src="{% static 'images/landing-7.png' %}" alt="how-it-work">
                    </div>

                    <div class="how-work__top--text">

                        <h2 class="how-work__title">
                            What is Task Management?
                        </h2>

                        <h3 class="how-work__caption">
                            Projects are made up of tasks, and knowing how to manage your tasks (and everyone else's) is
                            the secret to getting your projects completed on time. At its simplest, task management is
                            having a to-do list, but you'll soon find that to-do lists aren't going to cut it for
                            managing project workloads.
                        </h3>

                    </div>

                </div>

                <div class="how-work__bottom">

                    <div class="how-work__bottom--picture">
                        <img class="how-work__bottom--image" src="{% static 'images/landing-6.png' %}" alt="how-it-work">
                    </div>

                    <div class="how-work__bottom--text">

                        <h2 class="how-work__title">
                            Plan
                        </h2>

                        <h3 class="how-work__caption">
                            Create user stories and issues, plan sprints, and distribute tasks across your software
                            team.
                        </h3>

                        <h2 class="how-work__title">
                            Track
                        </h2>

                        <h3 class="how-work__caption">
                            Prioritize and discuss your team's work in full context with complete visibility.
                        </h3>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="start-planing">

        <div class="container">

            <div class="section-head">

                <h3 class="section-title">
                    Start Planing Today
                </h3>

                <div class="section-line"></div>

                <p class="section-caption">
                    Sign up and join over 1,000,000 teams worldwide who are using Taskulo to get more done.
                </p>

            </div>

            <a href="./register.html" class="start-planing__btn">Get it Free</a>

        </div>
        <h3 class="copy-right">
            © 2025 Taskulo. All rights reserved.
        </h3>
    </section>


</main>
{% endblock %}