<header class="header">

        <div class="container">

            <nav class="nav">
                <div class="nav__logo">
                    Taskulo
                    <svg width="24" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 8.88887L14 4V5.46663L22.5 9.62219L14 13.7777V26L24 21.1111V8.88887Z" fill="white"/>
                        <path d="M0 17.1111L10 22V20.5334L1.49996 16.3778L10 12.2223V0L0 4.88888V17.1111Z" fill="white"/>
                        </svg>
                </div>


                <div class="nav__content">

                    <ul class="menu ">

                        <li data-section="home"  class="menu__item menu__item--active">
                            <a href="#" class="menu__link">
                                Home
                            </a>
                        </li>
                        <li data-section="aboutus"  class="menu__item">
                            <a href="#" class="menu__link">
                                About us
                            </a>
                        </li>
                        <li data-section="our-feature"  class="menu__item">
                            <a href="#" class="menu__link">
                                Our feature
                            </a>
                        </li>
                        <li data-section="how-it-work"  class="menu__item">
                            <a href="#" class="menu__link">
                                How it works
                            </a>
                        </li>
                        <li data-section="start-planing"  class="menu__item">
                            <a href="#" class="menu__link">
                                Contact Us
                            </a>
                        </li>

                    </ul>

                    <div class="nav__btn">
                        <div class="nav__btn--login">
                            <a href="{% url 'account:user_login' %}">Login</a>
                        </div>
                        <div class="nav__btn--signup">
                            <a href="{% url 'account:sign_up' %}">Sign Up</a>
                        </div>
                    </div>

                </div>



            </nav>

        </div>

</header>
